<ul *ngIf="displayErrorMessages">
  <li *ngFor="let error of errorDisplay">
    {{ error }}
  </li>
</ul>

<!--
couple things to note here:

a) we have added the novalidate attribute which disables the default browser validation. We want Angular to handle that
b) #myForm="ngForm" gives our form special powers. We can now check for various high level states (such as whether or
not it was submitted). And have access to a ton of useful api methods
c) the formGroup input encapsulates all the formControls that reside inside it. One form can have many formGroups
and you don't need a form to use a formGroup (although its easier if you do. Refer to point a) )
-->
<form #myForm="ngForm" [formGroup]="formGroup" (submit)="onSubmit($event)" novalidate>
  <legend>My Awesome Reactive Form</legend>

  <div class="form-group" [ngClass]="{ 'error': showControlError('name') }">
    <label>Full Name</label>
    <!--
      Note the fullName attribute.
      This is a custom validator directive we set up.
      This can be reused in other controls and components
      with no additional code. Woot!!
      -->
    <input type="text" class="form-control" fullName formControlName="name" />
  </div>

  <div class="form-group" [ngClass]="{ 'error': showControlError('email') }">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" />
  </div>

  <app-custom-component
    *ngIf="displayRyanProductDropdown"
    [ngClass]="{ 'error': showControlError('ryanProduct') }"
    formControlName="ryanProduct"></app-custom-component>

  <div class="form-check">
    <input type="checkbox" formControlName="isRyanEmployee" class="form-check-input" />
    <label class="form-check-label">Are you an employee at Ryan?</label>
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
