<div class="container h-100">
  <div class="row h-100">
    <div class="d-flex align-items-center justify-content-center h-100" style="margin: auto; width: 300px">
      <app-with-form-control-example></app-with-form-control-example>
    </div>
  </div>
</div>

