<div class="form-group">
  <label>What product are you working on at Ryan?</label>
  <select (change)="onChange($event)" class="form-control">
    <option value="">select one</option>
    <option value="c">ControlPoint</option>
    <option value="w">Weissman</option>
    <option value="t">Tracker Pro</option>
    <option value="p">PinPoint</option>
  </select>
</div>
